###### List of python libraries required for this project ######
## To install, run the following command:
# pip -r requirements.txt

androguard>=3.3.5
asn1crypto>=1.5.1
beautifultable>=1.1.0
click>=8.1.7
cryptography>=41.0.0
jsonschema>=4.19.0
requests>=2.31.0
requests_mock>=1.11.0
pytest>=7.4.0
pytest-cov>=4.1.0
tldextract>=3.4.4

roca-detect==1.2.12
