###### List of python libraries required for this project ######
## To install, run the following command:
# pip -r requirements.txt

androguard>=3.3.5
asn1crypto>=1.4.0
beautifultable>=1.0.0
click>=7.1.2
cryptography>=3.0
jsonschema>=3.2.0
requests>=2.24.0
requests_mock>=1.8.0
pytest>=5.4.3
pytest-cov>=2.10.0
tldextract>=2.2.2

roca-detect==1.2.12
