###### List of python libraries required for this project ######
## To install, run the following command:
# pip -r requirements.txt

androguard>=3.3.4
beautifultable>=0.7.0
click>=7.0
jsonschema>=3.0.1
pytest>=5.0.0
pytest-cov>=2.7.1
roca-detect>=1.2.12
